@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {
  .fluid-text br {
    content: "";
    @apply block mt-3;
  }

  .fluid-text a {
    @apply underline text-primary font-bold;
  }

  .fluid-text h1 {
    @apply block my-5 text-3xl font-bold uppercase;
  }

  .fluid-text h2 {
    @apply block my-4 text-lg font-bold uppercase;
  }

  .fluid-text h3,
  .fluid-text h4 {
    @apply block mt-4 text-base font-bold;
  }

  .fluid-text ul {
    @apply my-3 mr-2;
    list-style: inside;
  }

  .fluid-text li {
    @apply my-2 mx-0;
  }

  .c p,
  .fluid-text p,
  .fluid-text p span {
    @apply text-sm my-3 mx-0;
  }

  .fluid-text b,
  .fluid-text strong {
    @apply font-bold text-primary;
  }

  @media (max-width: 1024px) {
    .fluid-text h1 {
      @apply text-xl;
    }

    .fluid-text h2 {
      @apply text-base;
    }

    .fluid-text h3,
    .fluid-text h4 {
      @apply text-sm;
    }

    .fluid-text li,
    .fluid-text p,
    .fluid-text p span {
      @apply my-3 text-xs;
    }
  }

  .fluid-text > *:first-child {
    @apply !mt-0;
  }

  .fluid-text > *:last-child {
    @apply !mb-0;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}